<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sobre Nós</title>
    <link rel="stylesheet" href="../static/css/sobrenos.css">
</head>
    <body>
        <header class="cabecalho">
            <div class="container">
                <nav>
                    <a href="/sobrenos"><button class="botaolegal">Sobre Nós</button></a>
                </nav>
                <nav>
                    <a href="/servicos"><button class="botaolegal">Serviços</button></a>
                </nav>
                <a href="/"><img class="logo" src="../static/img/logo.png" alt=""></img></a>
                <nav>
                    <a href="/contato"><button class="botaolegal">Contato</button></a>
                </nav>
                <nav>
                    <a href="{% if contatos %}{% for contato in contatos %}/editar_usuario/{{ loop.index0 }}{%endfor%}{% else %}/cadastro{% endif %}">
                        <button class="botaolegal">
                            {% if contatos %}
                                {{ contatos[-1][1] }}
                            {% else %}
                                Cadastrar-se
                            {% endif %}
                        </button>
                    </a>
                </nav>
            </div>
        </header>
        <div class="barraverde"></div>
        <main>
            <div class="banner5">
                <div>
                    <h2 class="titulo2">Quer <span class="verde">saber</span><span class="vermelho"> quem </span> somos?</h2>
                    <p class="subtitulo">Leia essa página para saber mais sobre a clínica mais amada do Brasil!</p>
                    <a href="/sobrenos"><button class="saibamais">SAIBA MAIS</button></a>
                </div>
            </div>
            <div class="containerzao">
                <div>
                    <img src="../static/img/logo.png" alt="" class="logo1">
                </div>
                <div>
                    <img src="../static/img/cachorro louco.png" alt=""></img>
                </div>
                <div class="margintop">
                    <p class="verde letramtgrande bold">Quem somos nós?</p>
                    <p class="paragrafo2">Bem-vindo à Dog Dodói, onde o bem-estar e a saúde dos nossos amigos de quatro patas são a nossa prioridade número um! Localizada no coração da cidade, somos uma clínica veterinária dedicada a fornecer cuidados excepcionais e compassivos para cães de todas as raças e tamanhos. Com uma equipe experiente de veterinários e profissionais apaixonados por animais, estamos aqui para oferecer serviços médicos de alta qualidade, desde consultas de rotina até tratamentos especializados. Na Dog Dodói, seu melhor amigo está em boas mãos. Venha nos visitar e faça parte da nossa família!</p>
                </div>
            </div>
            <div class="backcinza around wrap_flex margindowng margintopg">
                <div>
                    <img src="../static/img/local.png" alt="">
                </div>
                <div>
                    <img src="../static/img/profs.png" alt="">
                </div>
                <div>
                    <img src="../static/img/parceiros.png" alt="">
                </div>
            </div>
            <div>
                <div class="container3">
                    <div class="rosa">
                        <h3 class="titulo4">Inscreva seu e-mail</h3>
                        <p class="paragrafo1">Cadastre seu email e receba todas as nossas novidades.</p>
                        <form action="">
                            <ul>
                                <input class="input" type="email" placeholder="Digite seu e-mail:">
                                <button class="inscrever-se" type="submit">Inscrever-se</button>
                            </ul>
                        </form>
                    </div>
                </div>
        </main>
        <footer>
                <img class="logo1" src="../static/img/logo.png" alt="">
                <p>©2024 Dog Dodoi</p>
                <p class="cantinho">@dogdodoioficial</p>
        </footer>
    </body>
</html>